mat-card{
    max-width: 350px;
    height: 350px;
    margin: 2rem auto;
    text-align: center;
}

.signin-form{
    padding: 60px 1rem;

}

.full-width-input{
    width: 100%;
}

.full-width-input input{
    justify-content: center;
    align-items: center;
}